In [ ]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords

In [ ]:
from nltk.stem.porter import PorterStemmer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
print(stopwords.words('english'))
#are repeated a lt but don't convey much meaning

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
news_data = pd.read_csv('/content/fake_news.csv', encoding='ISO-8859-1')

In [ ]:
news_data.head()

,unit_id,article_title,article_content,source,date,location,labels
0,1914947530,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,nna,4/5/2017,idlib,0
1,1914947532,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,nna,4/7/2017,homs,0
2,1914947533,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,nna,4/16/2017,aleppo,0
3,1914947534,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,nna,4/19/2017,aleppo,0
4,1914947535,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,nna,7/10/2016,aleppo,0

In [ ]:
news_data.shape

(804, 7)

In [ ]:
news_data['labels'].value_counts()

1    426
0    378
Name: labels, dtype: int64

In [ ]:
news_data.isnull().sum()

unit_id            0
article_title      0
article_content    0
source             0
date               0
location           0
labels             0
dtype: int64

In [ ]:
X= news_data.drop(columns = ['labels', 'source', 'date', 'unit_id'], axis =1)
Y= news_data['labels']

In [ ]:
pot_stem = PorterStemmer()
#relates a word to its root word , enjoyable, enjoying - enjoy

In [ ]:
print(X)

                                         article_title  \
0    Syria attack symptoms consistent with nerve ag...
1    Homs governor says U.S. attack caused deaths b...
2      Death toll from Aleppo bomb attack at least 112
3          Aleppo bomb blast kills six Syrian state TV
4    29 Syria Rebels Dead in Fighting for Key Alepp...
..                                                 ...
799    Turkish Bombardment Kills 20 Civilians in Syria
800    Martyrs as Terrorists Shell Aleppos Salah Eddin
801  Chemical Attack Kills Five Syrians in Aleppo SANA
802  5 Killed as Russian Military Chopper Shot down...
803  Syrian Army Kills 48 ISIL Terrorists in Deir E...

                                       article_content    location
0    Wed 05 Apr 2017 Syria attack symptoms consiste...       idlib
1    Fri 07 Apr 2017 at 0914 Homs governor says U.S...        homs
2    Sun 16 Apr 2017 Death toll from Aleppo bomb at...      aleppo
3    Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...      aleppo
4    Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...      aleppo
..                                                 ...         ...
799  28-08-2016 Turkish Bombardment Kills 20 Civili...      aleppo
800  17-08-2016 Martyrs as Terrorists Shell Aleppos...      aleppo
801  03-08-2016 Chemical Attack Kills Five Syrians ...      aleppo
802  01-08-2016 5 Killed as Russian Military Choppe...       idlib
803  April 6 2017 Syrian Army Kills 48 ISIL Terrori...  deir ezzor

[804 rows x 3 columns]

In [ ]:
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
799    1
800    1
801    0
802    1
803    1
Name: labels, Length: 804, dtype: int64

In [ ]:
Y.shape

(804,)

In [ ]:
X.shape

(804, 3)

In [ ]:
#text data to feature vectors
vectorizer = TfidfVectorizer()

In [ ]:
vectorizer.fit(X)
X= vectorizer.transform(X)

In [ ]:
print(X)

  (0, 1)	1.0
  (1, 0)	1.0
  (2, 2)	1.0

In [ ]:
X.shape

(3, 3)

In [ ]:
print(Y)